.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    border-top: 1px solid #FFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: teal;

    &_text {
        font-size: 20px;
        font-weight: 600;
        color: #FFF;
    }

    &_btn {
        cursor: pointer;
        padding: 8px 10px;
        border: none;

    }
}